html { 
	width: 100%; 
	height: 100%; 
	background: none center center no-repeat #000;
	-webkit-animation: pp 4s infinite;
}
@-webkit-keyframes pp {
	25% { background-image: none; }
	50% { background-image: url(pp.png); }
	75% { background-image: none; }
	100% { background-image: url(pp2.png); }
}